body {
    background-color: #f7f5f2;
}

a {
    text-align: center;
}


/* Navbar */

.color-navbar {
    background-color: #115740;
}

.logo-navbar {
    max-width: 35%;
    height: auto;
}

/* Index/Login/Register */

.form_queryselect {
    background-color: white;
    border-style: inset;
    border-width: 2px;
    color: -internal-light-dark(black, white);
    cursor: text;
    line-height: 24px;
    padding: 1px 2px;
    width: 227.2px;
    height: 30px;
}

.my-multi-select {
    align-items: center;
    cursor: default;
    inline-size: 142px;
    min-block-size: 0px;
    min-height: 0px;
    min-inline-size: 0px;
    min-width: 0px;
    perspective-origin: 71px 15.5px;
    text-align: start;
    transform-origin: 71px 15.5px;
    white-space: pre;
    width: 142px;
}
