{% extends 'base.html' %}
{% block content %}


<div class="row">
    <div class="col-12 mt-5">
        <div class="text-center">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} text-center border-0 bg-transparent" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% else %}
            <div class="alert text-center border-0 bg-transparent" role="alert">
                <p> </p>
            </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mt-5">
        <h1 class="text-center mb-3">Login</h1>
    </div>

    <form action="{{ url_for('auth_bp.login') }}" method="post" novalidate>

        {{ form.csrf_token }}

        <div class="row">
            <div class="col-5"></div>
            <div class="col-2">
                {{ form.user_id(placeholder='UserID', autofocus=True, class_="form-control my-2") }}
            </div>
            <div class="col-4">
                {% for err in form.user_id.errors: %}
                <div class="alert alert-danger text-start p-0 my-3 border-0 bg-transparent" role="alert">
                    {{ err }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-5"></div>
            <div class="col-2 text-center">
                {{ form.password(placeholder='Password', class_="form-control my-2") }}

                {{ form.submit(class_="btn btn-success mt-3 text") }}
            </div>
            <div class="col-4">
                {% for err in form.password.errors: %}
                <div class="alert alert-danger text-start p-0 my-3 border-0 bg-transparent" role="alert">
                    {{ err }}
                </div>
                {% endfor %}
            </div>
        </div>
    </form>
</div>

{% endblock %}